{% extends 'orphan/base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Thank you for your donation!</h4>
          </div>
          <div class="card-body">
            <p>Your donation has been successfully processed.</p>
            <p>Thank you for your generous support!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
