<!-- footer.html -->

<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Orphanage Management System</h5>
          <p>A web application for managing an orphanage and its children, donors, and events.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="{% url 'home' %}" class="text-dark">Home</a>
            </li>
            <li>
              <a href="{% url 'about' %}" class="text-dark">Children</a>
            </li>
            <li>
              <a href="{% url 'donate_view' %}" class="text-dark">Donors</a>
            </li>
            <li>
              <a href="{% url 'event_list' %}" class="text-dark">Events</a>
            </li>
            <li>
              <a href="{% url 'contact_us' %}" class="text-dark">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Social Media</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Facebook</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Twitter</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Orphanage Management System. All rights reserved.
    </div>
  </footer>
  